    <!-- Site's Main Footer-->
    <footer class="site-footer" role="contentinfo">
      <div class="container">

        <nav class="site-footer__nav">
          <ul class="site-footer__nav-list" role="navigation">
            <li class="site-footer__nav-item linkedin"><a href="http://linkedin.com/in/justinaven">LinkedIn</a></li>
            <li class="site-footer__nav-item codepen">
              <a href="http://codepen.io/justinaven">Codepen</a>
            </li>
            <li class="site-footer__nav-item twitter">
              <a href="http://twitter.com/justinaven">Twitter</a>
            </li>
            <li class="site-footer__nav-item instagram">
              <a href="http://instagram.com/javen/">Instagram</a>
            </li>
          </ul>
        </nav>

      </div>
    </footer>

    <script src="{{ baseurl }}vendor/zepto.min.js"></script>
    <script src="{{ baseurl }}js/global.min.js"></script>
    {% if page.javascript %}<script src="{{ baseurl }}js/{{ page.javascript }}"></script>{% endif %}
</body>
</html>
