    <!-- Site's Main Footer-->
    <footer class="site-footer" role="contentinfo">
      <div class="container">

        <nav class="site-nav--footer">
          <ul class="nav" role="navigation">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </nav>

      </div>
    </footer>

    <script src="{{ baseurl }}vendor/zeptos.min.js"></script>
    <script src="{{ baseurl }}js/global.min.js"></script>
    {% if page.javascript %}<script src="{{ baseurl }}js/{{ page.javascript }}"></script>{% endif %}
</body>
</html>
