  <!-- Site's Header-->
  <header class="site-header" role="banner">
    <div class="container">

      <!-- Branding, can be a logo, img ect. -->
      <a class="branding" href="{{ baseurl }}">
          <img src="img/logo.png" class="branding__logo" alt="Justin Aven">
          <h1 class="branding__wordmark">Justin Aven</h1>
      </a>

      <!-- Main site nav -->
      <nav class="site-nav primary-nav">
          <ul class="site-nav__list" role="navigation">
              <li class="site-nav__list-item">
                  <a href="#" class="active">Blog</a>
              </li>
              <li class="site-nav__list-item"><a href="#">Portfolio</a></li>
          </ul>
      </nav>

    </div>
  </header>
