//
//   @blog
// --------------------------------------------------------
//  _5_pages/_blog.scss
// --------------------------------------------------------
//
//  blog content
//
// --------------------------------------------------------

.blog-posts {
  .post__title {
    margin-bottom: 0;
  }
}

.post {
  margin-bottom: spacing('xl');
  &__date {
    @include make-font-size(14px);
    color: color('gray','dark');
  }
  &__content--excerpt p:last-child {margin-bottom: 0;}

  .grid__item {margin-bottom: 1em}

  &--single {
    // .post__title {}
  }
  &--single {margin-bottom: 0}
  &__subtitle { color: lighten(color('navy'),15%); }
}

pre[class*="language-"] {margin: 0 0 1em;}


.pagination {
  text-align: center;
  &__prev-next, &__page-num {padding:spacing('xs');}
}
