//
//   @portfolio
// --------------------------------------------------------
//  _5_pages/_portfolio.scss
// --------------------------------------------------------
//
//  portfolio content
//
// --------------------------------------------------------


.port-grid {
  &__item-wrap {
    display: block;
    height:0;
    margin-bottom: 1.5rem;
    padding-bottom: 100%;
    position:relative;
    overflow: hidden;
    width: 100%;
    &:hover{
      .port-grid__item-title {
        background: rgba(color('navy'),1);
        color: color('white');
        padding:  spacing('l') spacing('m');
      }
    }
  }
  &__item-title {
    bottom: 0;
    background: rgba(color('navy'),.9);
    color: color('cream');
    font-size: 0.1px;
    line-height: 0;
    padding: spacing('m');
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    h3 {
      display:inline-block;
      font-weight: bold;
      vertical-align: middle;
      white-space: normal;
    }
    &:before {
      content:'';
      display: inline-block;
      height:100%;
      vertical-align: middle;
      width: 0px;
    }
  }
}

.post__title {
  margin-bottom: spacing('l');
}

.port-item {
  position: relative;
  &__img {
    position: relative;
    margin-bottom: 2rem;
    @media screen and (min-width: breakpoint('s')) {margin-bottom: 0;}
    &:after {
      background: linear-gradient(to bottom,  rgba(241,235,230,0) 0%,rgba(241,235,230,1) 100%);
      bottom: 0;
      content: '';
      display: block;
      height: 1rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &-img {max-width: 100%; width: auto;}
  }

  &__img-wrap {
    max-height: 300px;
    max-height: 80vh;
    padding-bottom: 1rem;
    overflow-y: auto;
    position: relative;
    @media screen and (min-height: 500px) {
      max-height: 400px;
      max-height: 80vh;
    }
    @media screen and (min-height: 600px) {
      max-height: 500px;
      max-height: 80vh;
    }
    @media screen and (min-height: 800px) {
      max-height: 700px;
      max-height: 80vh;
    }
    @media screen and (min-height: 1000px) {
      max-height: 900px;
      max-height: 80vh;
    }
  }
  &__mobile-label {
    span {
      background: color('navy');
      background: rgba(color('navy'),.9);
      border-radius: 2px 2px 0 0;
      color: color('white');
      display: inline-block;
      font-weight: bold;
      padding: spacing('xs') spacing('s');
    }
    @media screen and (min-width: breakpoint('s')) {display:none }
  }
}

html.modal {
  & {
    position:relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .port-item-slide-wrap {
    left: 0;
  }
  .port-item-slide-overlay{
    left: 0;
    opacity: 1;
  }
}
.port-item-slide-overlay {
  background: #222;
  background: rgba(0,0,0,.7);
  bottom: 0;
  left: -100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity .3s ease-in-out;
}
.port-item-slide-wrap {
  background: color('cream');
  position: fixed;
  height: 100%;
  left: -100%;
  margin: 0;
  padding-bottom: 2rem;
  top: 0;
  width: 100%;
  z-index: 1001;
  transition: left .5s ease-in-out;
  transition: left .5s $ease-in-out-back;
  &:after {
    background: linear-gradient(to bottom,  rgba(241,235,230,0) 0%,rgba(241,235,230,1) 100%);
    bottom: 2rem;
    content: '';
    display: block;
    height: 1rem;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .close-port {
    position: relative;
    &__wrap {
      background: lighten(color('orange'),5%);
      background: rgba(color('orange'),.9);
      border-radius: 0 0 2px 2px;
      color: color('cream');
      cursor: pointer;
      font-size: rem(14);
      font-weight: bold;
      padding: spacing('s') spacing('m');
      position:absolute;
      right: 2rem;
      @media screen and (min-width: breakpoint('s')) {right: 4rem;}
      @media screen and (min-width: breakpoint('l')) {right: 6rem;}
      z-index: 1;
      transition: color .25s ease-in-out, background .25s ease-in-out;
      &:hover {
        background: color('orange');
        color: color('white');
      }
    }
  }
  .load-wrapper {
    display: none;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    padding-top: 3rem;
    padding-bottom: 0rem;
    position: relative;
    &.on { opacity: 1; }
    &.block { display: block; }
  }
}
.port-item-slide-inner {
  height: 100%;
  overflow-y: auto;
  .port-item{
    &__img {
      margin-bottom: 0;
      &:after {display: none}
      &-wrap {
        max-height: none;
        position: relative;
      }
    }
  }
}









