//
//   @portfolio
// --------------------------------------------------------
//  _5_pages/_portfolio.scss
// --------------------------------------------------------
//
//  portfolio content
//
// --------------------------------------------------------


.port-grid {
  &__item-wrap {
    display: block;
    height:0;
    margin-bottom: 2rem;
    padding-bottom: 100%;
    position:relative;
    overflow: hidden;
    width: 100%;
    &:hover{
      .port-grid__item-title {
        background: rgba(color('navy'),.9);
        opacity: 1;
        color: color('cream');
      }
    }
  }
  &__item-title {
    background: transparent;
    color: transparent;
    font-size: 0.1px;
    height: 100%;
    line-height: 0;
    opacity: 0;
    padding: spacing('l');
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    h3 {
      display:inline-block;
      font-weight: bold;
      vertical-align: middle;
      white-space: normal;
    }
    &:before {
      content:'';
      display: inline-block;
      height:100%;
      vertical-align: middle;
      width: 1px;
    }
  }
}

@media screen and (max-width: breakpoint('s')) {
  .port-item {
    &__img {
      max-height: 300px;
      margin-bottom: 2rem;
      position:relative;
      overflow-y: scroll;
      width: 100%;
    }
  }
}
