---
layout: blog
body_class: blog
---
{% include head.html %}
{% include header.html %}
<!-- Site's Main Content-->
<main class="site-main" role="main">
  <section class="section">
    <div class="section__inner container blog-posts post post--single ">
      <div class="text">
        <h1 class="post__title">{{ page.title }}</h1>
        <h3 class="post__subtitle">{{ page.subtitle }}</h3>
        <p class="post__meta">
          <span class="post__date">{{ page.date | date: "%B %d, %Y" }}</span>
        </p>
        <div class=" post__content">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
</main>
{% include footer.html %}
